<a href="https://colab.research.google.com/github/nehagoyal09/Python_-Practice_Journey/blob/main/Day1_practice_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basic Terms**
- Python Program = **statements + expresssions + indentation**
- Syntax (Valid & Invalid)
- Comments

In [ ]:
print("Hello, Neha! Welcome to Python practice")    # Simple Python program

Hello, Neha! Welcome to Python practice

In [ ]:
print('Neha')

Neha

In [ ]:
name = 'Neha'          #cap(Name),This is error
print('name')          # Always use in 'semicoulmn'

name

In [ ]:
name = 'Neha'
print(name)

Neha

In [ ]:
address = 'Gwalior, Madhya Pradesh'
print(address)

Gwalior, Madhya Pradesh

## **Python Data Types, Type Casting & Variables**
- **Text Type:** str
- **Numeric Types:** int, float
- **Sequence Types:** list, tuple, range
- **Mapping Type:** dict
- **Set Types:** set
- **Boolean Type:** True, False

In [ ]:
name = 'Rishika'          # string
age = 23               # int
percent = 90.3         # float
marks = [90, 85]       # list
is_student = True      # boolean

In [ ]:
type(percent)

float

In [ ]:
student1 = ('Rishika', 23, 90.3)            # Tuple method (cannot modify it)
student2 = ['Rishika', 23, 90.3]            # List method (can modify it)
student3 = {'Rishika', 23, 90.3}            # Set method (random output)

In [ ]:
student2

['Rishika', 23, 90.3]

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
student = {'Name': 'Rishika', 'Age': 23, 'Percent': 90.3}     # Dict. method

In [ ]:
student.keys()

dict_keys(['Name', 'Age', 'Percent'])

In [ ]:
student.values()

dict_values(['Rishika', 23, 90.3])

**Python Operators**
 - **Airthmetic:**  +, -, *, /, //, %, **
- **Assignment:**  =, +=, -=, *=, /=, %=, **=
- **Comparison:**  ==, !=, <, >, <=, >=
- **Logical:**  and, or, not
- **Membership:** in, not in

In [ ]:
x = 5          # used with numeric values to perform common mathematics
y = 8

# print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

print(x+y, x**y)

13 390625

In [ ]:
x, y = 5,8       # used to assign values to variables

# print(x=y, x+=y, x-=y, x*=y, x/=y, x%=y, x**=y)

x -= y      # x = x - y
x *= y      # x = x * y

print(x)

-24

In [ ]:
x = 5             # used to cpmpare two values
y = 8

# print( x==y, x!=y, x<y, x>y, x<=y, x>=y)

print(x>y)

False

In [ ]:
x, y = 5, 8        # used to combine conditional statement

# logical (==, !=, <, >, <=, >=)

# print(x and y, x or y, x not y)

#(x<y) or (x!=y)

not((x<y)or (x!=y))

False

In [ ]:
# (==, !=, <, >, <=, >=)    # used to test if a sequence is presented in an object

# print(x in y, x not in y)

x = [1, 2, 3, 4, 5]
y = 6

#y not in x
y in x

False

In [ ]:
y =[1, 2, 3, 4, 5]
x = 4

# x in y
x not in y

False