<a href="https://colab.research.google.com/github/nehagoyal09/Python_-Practice_Journey/blob/main/Day2_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List and it's Methods**
- Lists are used to store multiple items in a single variable.
- It is a collection which is ordered, changeable and allows duplicate members.

**List Methods**

append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()

In [ ]:
fruits = ['apple', 'cherry', 'banana']

fruits.append("orange")                         # add item on last position
fruits.sort()                                   # 'asc to des' & 'desc to asc'
fruits.reverse()                                # arrange wise reverse
fruits.remove("banana")
fruits.pop(1)                                   # delete 0th, 1th element
fruits.insert(1, "watermelon")                  # add 0th, 1th element
fruits.index("orange")                          # show position

others = ['pineapple', 'strawberry', 'guava', 'cherry', 'pinepple']

fruits.extend(others)
fruits.count("cherry")
fruits.copy()
fruits.clear()

In [ ]:
fruits

['orange',
 'watermelon',
 'apple',
 'pineapple',
 'strawberry',
 'guava',
 'cherry',
 'pinepple']

### **Practice Questions:**

- Create a list of 5 cities in Madhya Pradesh.

- Add 2 more cities, remove 1, and sort the list.

In [ ]:
cities = ['Indore', 'Bhopal', 'Gwalior', 'Ujjain', 'Ratlam']

cities.append('Dewas')
cities.append('Sagar')
cities.remove('Ratlam')
cities.sort()

In [ ]:
cities

['Bhopal', 'Dewas', 'Gwalior', 'Indore', 'Sagar', 'Ujjain']

# **String and it's Methods**
All string methods returns new values. They do not change the original string.

**String Methods**
- isalpha(), isalnum(), index(), find(), count(), capitalize(), isdigit(), islower(), isnumeric()
- endswith(), upper(), title(), swapcase(), strip(), startswith(), split(), join(), lower(), replace()

In [ ]:
txt = "hello, and welcome to my portfolio."
a = txt.capitalize()
print(a)

txt ="I'm from India and born in Madhya Pradesh, India"
b = txt.count('India')
# print(b)

txt = 'I love apples, apples are good for health'
c = txt.find('papaya')
# print(c)

txt = 'I love apples, apples are good for health'
d = txt.index('apple')
# print(d)

txt = "hello, my nameis Harry, I'm 23 years old"
e = txt.split(', ')
# print(e)

Hello, and welcome to my portfolio.

**Practice Questions:**

- Create a string with your full name and hometown.

- Use .replace(), .lower(), .strip(), and .upper() on it.

In [ ]:
txt = "I am Neha Goyal from Gwalior, Madhya Pradesh"

a = txt.replace('Gwalior', 'Indore')
print(a)

# b = txt.lower()
# print(b)

c = txt.strip()                   # Leading & trailing spaces remove
# print(c)

d = txt.upper()
# print(d)

I am Neha Goyal from Indore, Madhya Pradesh

In [ ]:
txt = 'Company123'
name = txt.isalnum()
# print(name)

txt = 'Company'
alpha = txt.isalpha()
# print(alpha)

txt = '12345'
num = txt.isdigit()
# print(num)

txt = ['Harry', 'Peter', 'John']
joined = '_'.join(txt)
print(joined)

txt = 'Hello, welcome to my world.'
start = txt.startswith('Hello')
# print(start)

txt = "Hello, welcome to my world."
end = txt.endswith('.')
# print(end)

Harry_Peter_John

# **Conditional Statements**
- if, elif, else statements

In [ ]:
a,b = 330, 200

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [ ]:
marks = 85

if marks > 33:
  print("pass")
  if marks > 80:
      print("Excellent")
  elif marks > 60:
      print("Very Good")
  else:
      print('Good')
else:
  print("Better luck next time")

pass
Excellent

In [ ]:
age = 65

if age < 18:
  print("Minor")
elif age < 60:
  print("Adult")
else:
  print("Senior Citizen")

Senior Citizen

# **Practice Questions:**

Write a program that checks:

- If a student scored above 90 → "Excellent"

- Between 75–90 → "Good"

- Below 75 → "Needs Improvement"

In [ ]:
score = 92

if score > 90:
  print("Excellent")
elif score > 75:
  print("Good")
else:
  print("Needs Improvement")

Excellent

# **Bonus Challenge (Mix all three)**

In [ ]:
students = ['Harry', 'John', 'Alex']
marks = [65, 82, 97]

for i in range(len(students)):
    name = students[i]
    score = marks[i]

    if score >= 90:
        remark = "Excellent"
    elif score >= 75:
        remark = "Good"
    else:
        remark = "Needs Improvement"

    print(name.upper(), "→", remark)

HARRY → Needs Improvement
JOHN → Good
ALEX → Excellent