<a href="https://colab.research.google.com/github/nehagoyal09/Python_-Practice_Journey/blob/main/Day3_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **For Loop**
- It is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).
- Using Break & Continue keyword.


- for loop - for x in list:
- break	Loop - if x == 'stop': break
- continue - if x == 'skip': continue

In [ ]:
animals = ['tiger', 'elephant', 'deer', 'zebra', 'lion']

for x in animals:
    # print(x)
    print('I saw a', x)

I saw a tiger
I saw a elephant
I saw a deer
I saw a zebra
I saw a lion

In [ ]:
for x in animals:
  print(x)
  if x == 'deer':
    break

tiger
elephant
deer

In [ ]:
for x in animals:
  if x == 'zebra':
    continue
  print(x)

tiger
elephant
deer
lion

# **Practice Questions:**

In [ ]:
numbers = [10, 20, 30, 40, 50, 60]

for x in numbers:
  if x == 30:
    print('stopping at',x)
    break
  print('number:',x)

number: 10
number: 20
stopping at 30

In [ ]:
tasks = ['email', 'meeting', 'coding', 'report']

for x in tasks:
    if x == 'meeting':
        continue
    print("Task:", x)

Task: email
Task: coding
Task: report

# **While Loop**
- With the while Loop we can execute a set of statements as long as a condition is true.
- Using Break & Continue keyboard

In [ ]:
num = 1

while num < 6:
  print(num)
  num += 1

1
2
3
4
5

In [ ]:
num = 1

while num < 11:
  print(num)
  if num == 7:
    break
  num += 1

1
2
3
4
5
6
7

In [ ]:
num = 0

while num < 11:
  num += 1
  if num == 7:
    continue
  print(num)

1
2
3
4
5
6
8
9
10
11

# **Python Functions**
- A function is a block of code which only runs when it is called.
- Advanced Functions - lambda, map,  zip

In [ ]:
def my_function():                         # Functining Defining
  print("Hello I'm from a function")

In [ ]:
my_function()                               # Function Calling

Hello I'm from a function

In [ ]:
def my_ID(name):                         # Function with Arguments
  print('HR001_'+ name)

my_ID('Neha')

HR001_Neha

In [ ]:
# def add(a, b, c):
#   return a+b+c

# add(4,5,1)

add = lambda a, b, c: a+b+c               # Using lambda function
add(4,5,1)

10

In [ ]:
nums = [1, 2, 3, 4, 5]         # Map Function

def sq(n):
  return n*n

square = map(sq, nums)
print(list(square))

[1, 4, 9, 16, 25]

In [ ]:
name = ['Preet', 'Nikhil', 'Disha']           # Zip Function
ID = [4, 1, 3]

mapped = zip(name, ID)
print(list(mapped))

[('Preet', 4), ('Nikhil', 1), ('Disha', 3)]

# **Practice Questions:**

In [ ]:
def sq(num):
  return num*num

print('Square of 5 is:', sq(5))
print('Square of 7 is:', sq(7))
print('Square of 9 is:', sq(9))

Square of 5 is: 25
Square of 7 is: 49
Square of 9 is: 81

In [ ]:
marks = [ 67, 84, 92, 76]

# Add 10 bonus marks to each students

bonus_marks = list(map(lambda x: x+10, marks))
print('Original:', marks)
print('Bonus:', bonus_marks)

Original: [67, 84, 92, 76]
Bonus: [77, 94, 102, 86]

**Bonus Challenge:**


- Har salary pe 10% increment apply karna hai (map use karke).

- Ek function likhna hai jo salary ke basis par category bataye:

 Above 50,000 → "High Salary"

 Between 30,000–50,000 → "Medium Salary"

 Below 30,000 → "Low Salary"

- Loop se har employee ka naam + updated salary + category print karna hai.

In [ ]:
Employees = ['Shivam', 'Roshan', 'Arjun', 'Omkar']
Salaries = [28000, 45000, 56000, 31000]

Updated_Salaries = list(map(lambda x: int(x * 1.1), Salaries))


def Categorize(salary):
  if salary > 50000:
    return "High Salary"
  elif salary >= 30000:
    return "Medium Salary"
  else:
    return "Low Salary"


for i in range(len(Employees)):
  print(Employees[i], "-", Updated_Salaries[i], "-", Categorize(Updated_Salaries[i]))

Shivam - 30800 - Medium Salary
Roshan - 49500 - Medium Salary
Arjun - 61600 - High Salary
Omkar - 34100 - Medium Salary