<a href="https://colab.research.google.com/github/nehagoyal09/Python_-Practice_Journey/blob/main/Day_8_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Series**
- A Pandas Series is like a column in a table.

- It is a one-dimensional array holding data of any type.

In [ ]:
import pandas as pd


s = pd.Series([1,3,7,8,9])                # Series method
print(s)

0    1
1    3
2    7
3    8
4    9
dtype: int64

In [ ]:
s = pd.Series([1,3,7,8,9], index=['a','b','c','d','e'])    # series with index method
print(s)

a    1
b    3
c    7
d    8
e    9
dtype: int64

In [ ]:
print(s['b'])
print(s['e'])

3
9

# **Pandas DataFrame**
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

**Series** = ek column

**DataFrame** = table of multiple columns (collection of Series)

In [ ]:
data = {"a": 100, "b": 200, "c": 300, "d":400}
df = pd.Series(data)
print(df)

a    100
b    200
c    300
d    400
dtype: int64

In [ ]:
import pandas as pd       # DataFrame using dictionary

data = {"Name": ['Alex', 'Harry', 'Peter', 'John'], "Age": [23, 26, 24, 27], "City": ['Mumbai', 'Delhi', 'Chennai', 'Bangalore']}
df = pd.DataFrame(data)
print(df)

    Name  Age       City
0   Alex   23     Mumbai
1  Harry   26      Delhi
2  Peter   24    Chennai
3   John   27  Bangalore

In [ ]:
df.head()

    Name  Age       City
0   Alex   23     Mumbai
1  Harry   26      Delhi
2  Peter   24    Chennai
3   John   27  Bangalore

In [ ]:
# DataFrame with index

data = {"Items": ['Pencil', 'Pen', 'Copy', 'Book'], "Price": [10, 20, 30, 40]}
df = pd.DataFrame(data, index=['a1','b2','c3','d4'])
print(df)

     Items  Price
a1  Pencil     10
b2     Pen     20
c3    Copy     30
d4    Book     40

In [ ]:
df.head(2)

     Items  Price
a1  Pencil     10
b2     Pen     20

In [ ]:
df['Items']      # Column Selection

a1    Pencil
b2       Pen
c3      Copy
d4      Book
Name: Items, dtype: object

In [ ]:
print(df.loc['b2','Price'])    # Row Selection
print(df.iloc[3,0])

20
Book

# **Pandas Concatenation**
It is used to concatenate pandas objects along a particular axis with optional set logic along the other axes.


**Series Concatenation** = ek ke baad ek values jodna

**DataFrame Concatenation** = rows ya columns ko merge karna

In [ ]:
import pandas as pd

df1 = pd.DataFrame({"A": [1,2], "B": [3,4]})
df2 = pd.DataFrame({"A": [5,6], "B": [7,8]})

result = pd.concat([df1,df2])
print(result)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [ ]:
result = pd.concat([df1,df2], axis=1)
print(result)

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [ ]:
result = pd.concat([df1,df2], ignore_index=True)
print(result)

   A  B
0  1  3
1  2  4
2  5  7
3  6  8

# **Pandas Indexing**



- **loc[]**	[Labels (row/column names)]   	df.loc[0, "Name"]
- **iloc[]**	[Integer positions]	df.iloc[0, 0]
- **Filtering**	 [Boolean conditions]	df[df["Age"] > 23]

In [ ]:
data = {"Name": ['Alex', 'Harry', 'Peter', 'John'], "Age": [23, 26, 24, 27], "City": ['Mumbai', 'Delhi', 'Chennai', 'Bangalore']}
df = pd.DataFrame(data)

print(df.loc[0])                  # loc method

Name      Alex
Age         23
City    Mumbai
Name: 0, dtype: object

In [ ]:
print(df.loc[0, "Name"])

Alex

In [ ]:
print(df.loc[[0,2], ["Name","City"]])

    Name     City
0   Alex   Mumbai
2  Peter  Chennai

In [ ]:
print(df.iloc[0])                      # iloc method

Name      Alex
Age         23
City    Mumbai
Name: 0, dtype: object

In [ ]:
print(df.iloc[0,0])

Alex

In [ ]:
print(df.iloc[[0,2], [0,2]])

    Name     City
0   Alex   Mumbai
2  Peter  Chennai

In [ ]:
print(df[df["Age"] > 23])                 # Filter Method

    Name  Age       City
1  Harry   26      Delhi
2  Peter   24    Chennai
3   John   27  Bangalore

In [ ]:
print(df[df["City"] == "Delhi"])

    Name  Age   City
1  Harry   26  Delhi

In [ ]:
print(df[(df["Age"] > 23) & (df["City"] == "Mumbai")])

Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [ ]:
print(df[(df["Age"] > 23) | (df["City"] == "Delhi")])

    Name  Age       City
1  Harry   26      Delhi
2  Peter   24    Chennai
3   John   27  Bangalore