<a href="https://colab.research.google.com/github/nehagoyal09/Python_-Practice_Journey/blob/main/Day_5_Python_Data_Structure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a = []

In [ ]:
# print the value of a
print(a)

[]

In [ ]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [ ]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [ ]:
for i in languages:
  print(i)

# for index in range(len(languages)):
#   print(index,languages[index])

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
languages = ['R','Python', 'SAS', 'Scala', 42]

temp = languages[1]

Print the value of temp and type(temp)

In [ ]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [ ]:
languages = ['R','Python', 'SAS', 'Scala', 42]

languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [ ]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [ ]:
colors = ['Red', 'Blue', 'White']
print(colors)

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [ ]:
colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors = ['Red', 'Blue', 'White']

colors.insert(1, 'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White']

Print the list

In [ ]:
print(colors)

['Red', 'Orange', 'Blue', 'White']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [ ]:
colors2 = ['Grey', 'Sky Blue']
print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors = ['Red', 'Blue', 'White']
colors2 = ['Grey', 'Sky Blue']

colors.extend(colors2)
print(colors)

['Red', 'Blue', 'White', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [ ]:
print("Length of colors:", len(colors))

for i in colors:
  print(i)

Length of colors: 5
Red
Blue
White
Grey
Sky Blue

Sort the list and print it.

In [ ]:
colors.sort()
print(colors)

['Blue', 'Grey', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [ ]:
sent = "Coronavirus Caused Lockdowns Around The World."

print(sent)
print(type(sent))

Coronavirus Caused Lockdowns Around The World.
<class 'str'>

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
sent = "Coronavirus Caused Lockdowns Around The World."

words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [ ]:
words_lower = []

for i in words:
  words_lower.append(i.lower())

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [ ]:
words = sent.split()

print('country' in words)

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [ ]:
words_lower = []

for i in words:
  words_lower.append(i.lower())

words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
words_lower = []

for i in words:
  words_lower.append(i.lower())

x4 = words_lower[:4]
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

In [ ]:
# print x4

x4 = words_lower[:4]
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
sent = " ".join(words)
print(sent)

Coronavirus Caused Lockdowns Around The World.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [3]:
stud_grades = ['A','A','B','C','C','F']
print(stud_grades)

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [4]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [5]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [6]:
print(stud_grades_set)

{'F', 'C', 'A', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [7]:
print(type(stud_grades))
print(type(stud_grades_set))

print(stud_grades)
print(stud_grades_set)

<class 'list'>
<class 'set'>
['A', 'A', 'B', 'C', 'C', 'F']
{'F', 'C', 'A', 'B'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [8]:
stud_grades_set.add('G')
print(stud_grades_set)

{'A', 'F', 'C', 'G', 'B'}

Add element 'F' to stud_grades_set. and print it.

In [9]:
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'F', 'C', 'G', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [10]:
stud_grades_set.remove('F')
print(stud_grades_set)

{'A', 'C', 'G', 'B'}

Print the elements and the length of stud_grades_set

In [13]:
stud_grades = ['A','A','B','C','C','F']
stud_grades_set = set(stud_grades)

print(stud_grades_set)

print("Length of stud_grades_set:", len(stud_grades_set))

{'F', 'C', 'A', 'B'}
Length of stud_grades_set: 4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [14]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [15]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [19]:
colors_set = set(colors)
fruits_set = set(fruits)

print(colors_set)
print(fruits_set)

{'orange', 'blue', 'red'}
{'apples', 'orange', 'grapes'}

Find the union of both the sets.

In [25]:
print(colors_set.union(fruits_set))

{'apples', 'red', 'orange', 'blue', 'grapes'}

Find the intersection of both the sets

In [27]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [31]:
print(fruits_set.difference(colors_set))

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [34]:
temp = (17, 'Virat', 50.0)
print(temp)

(17, 'Virat', 50.0)

Iterate through temp and print all the items in temp

In [35]:
for item in temp:
  print(item)

17
Virat
50.0

replace first element with 11 in temp

In [38]:
temp = (17, 'Virat', 50.0)
# temp[0] = 11                     #  Error: 'tuple' object does not support

temp = (11,) + temp[1:]
print(temp)

(11, 'Virat', 50.0)

Set temp1 = tuple(temp)

In [39]:
temp1 = tuple(temp)
print(temp1)

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [40]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [41]:
temp1 = (17,) + temp1[1:]
print(temp1)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [42]:
city = ("Bangalore", 28.9949521, 72)
print(city)

('Bangalore', 28.9949521, 72)

Print first element of city

In [43]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [44]:
city2 = ('Chennai', 30.01, 74)
print(city2)

('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [45]:
cities = (city, city2)
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [46]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [48]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [49]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [52]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print the value of d[0]

In [56]:
# print(d[0])

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [57]:
print(d['actor'])

amir

Print the type of actor

In [61]:
print(type(d['actor']))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [63]:
List = d['list']
print(List)

[23, 32, 12]

Print the type of List.

In [64]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [65]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}
print(d1)

{'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [70]:
d.update(d1)
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

print d

In [71]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [72]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [74]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [81]:
for key, value in d.items():
  print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [82]:
sent = "Coronavirus Caused Lockdowns Around The World."

char_count = {}

for i in sent:
  if i in char_count:
    char_count[i] += 1
  else:
    char_count[i] = 1

print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}